@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;700&display=swap');

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base); /* <-- Add this for base styles */
@import 'tailwindcss/utilities.css' layer(utilities);

/* Optional: If you want to apply default body/html styles */
@layer base {
  body, html, #root { /* #root for React apps */
    height: 100%; /* Make html, body, and your root React div fill the screen */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white; 
    font-family: 'Instrument Sans', sans-serif;

    
  }

  
}



